
<section class="footer-area responsive-content theme-bg-dark">
  <div class="footer-fluid">
      <div class="container">
          <div class="row footer-list">

              <div class="col-md-5 col-sm-12">
                  <div class="footer-shared rpd-content"> 
                      <div class="footer__title">
                          <h3 class="footer__title-title">About Us</h3>
                      </div><!-- end footer__title -->

                      <div class="ftp__links">
                          <ul> 
                              <li style="padding:0;">
                                  <p class="add__para-desc">
                                    Nidaysseed Services was established by a team of devoted individuals, each with professional expertise in healthcare and management. United by a fervent commitment to provide superior staffing solutions to organizations, we stand at the forefront of connecting businesses with the talent they need.
                                  </p>
                              </li>
                          </ul>
                      </div><!-- end ftp__links -->

                      <div class="foo-logos clearfix" style="margin:30px 0;">
                          <img src="images/rec-member2.jpg" height="78" alt="rec logo" style="float:left;margin:0 15px 15px 0;">

                          <img src="images/ico-member.jpg" height="78" alt="ico logo" style="float:left;margin:0 15px 15px 0">
                        <!-- <img src="images/dc_badge1.png" height="78" alt="dc logo" style="float:left;margin:0 15px 15px 0"> -->
                        <!-- <img src="images/cqc_Nidaysseed.png" height="78" alt="dc logo" style="float:left;margin:0 15px 15px 0"> -->
                      </div>

                  </div><!-- end footer-shared -->
              </div><!-- end col-md-4 -->

              <div class="col-md-4 col-sm-6 col-xs-12">
                  <div class="footer-shared rpd-content">
                      <div class="footer__title">
                          <h3 class="footer__title-title">Our Address</h3>
                      </div><!-- end footer__title -->
                      <div class="ftp__links">
                          <ul>
                              <li>
                                  <a href="tel:442026955090">
                                      <i class="fas fa-phone-square"></i> 
                                      +1 202-695-5090
                                  </a>
                              </li>
                              <li>
                                  <a href="mailto: Damilola.nidaysseed@gmail.com">
                                      <i class="fas fa-envelope"></i>
                                       Damilola.nidaysseed@gmail.com
                                  </a>
                              </li>
                              <li>
                                  <p class="add__para-desc">
                                      <i class="fas fa-map"></i> 
                                      18303 BARNEY DRIVE ACCOKEEK MARYLAND 20607                                    </p>
                              </li>
                          </ul>
                      </div><!-- end ftp__links -->
                  </div><!-- end footer-shared -->
              </div><!-- end col-md-4 -->

              <div class="col-md-3 col-sm-6 col-xs-12">
                  <div class="footer-shared">
                      <div class="footer__title">
                          <h3 class="footer__title-title">Navigation</h3>
                      </div><!-- end footer__title -->
                      <div class="ftp__links menu__links clearfix">
                          <ul class="ftp__menu-links pull-left">
                              <li><a href="/index-2">Home</a></li> 
                              <li><a href="/about-us">About Us</a></li> 
                              <li><a href="/healthcare-staffing-services">Healthcare Staffing Services</a></li> 
                              <li><a href="/home-care-service">Home Care Service</a></li>
                              <li><a href="/working-for-us">Working for Us</a></li>
                              <!-- <li><a href="/testimonials">Testimonials</a></li> -->
                              <li><a href="/contact-us">Contact Us</a></li>
                          </ul>
                      </div><!-- end ftp__links -->
                  </div><!-- end footer-shared -->
              </div><!-- end col-md-4 -->
               
          </div><!-- end row -->

          <div class="row">
              <div class="col-md-12">
                  <div class="copyright-shared">
                      <div class="col-md-8 no-padding-lr">
                          <p class="copy__desc">&copy; Copyright 2024 Nidaysseed Healthcare Services </p>
                      </div><!-- end col-md-8 -->
                      <div class="col-md-4 text-right no-padding-lr"> 
                          <p class="copy__desc">
                            <a href="http://executiveconsults.com/" target="_blank">Powered </a> by Executive Consults
                          </p>
                      </div><!-- end col-md-4 -->
                  </div><!-- end copyright-shared -->
              </div><!-- end col-md-12 -->
          </div><!-- end row -->
      </div><!-- container -->
  </div><!-- end footer-fluid -->
</section><!-- end footer-area --> 