<section class="menu-area menu-area-3">
  <div class="top-menu-area">
      <div class="container-fluid">
          <div class="row">
              <div class="col-md-12 menu-full-box theme-bg-light no-padding-lr">
                  <div class="menu-full-width clearfix">
                      <div class="logo-box">
                          <div class="site-open">
                              <span class="open__only"></span>
                              <span class="open__only"></span>
                              <span class="open__only"></span>
                          </div><!-- end site-open -->
                          <div class="logo">
                              <a href="/index-2" title="Nidaysseed Healthcare Services">
                                  <img src="images/logoebf6.png?v=333" alt="Nidaysseed logo">
                              </a>
                          </div><!-- end logo -->
                      </div><!-- end logo-box -->
                      <div class="main-menu">
                          <nav class="menu__wrapper">
                              <ul class="dropdown-main">
                                  <li><a href="/index-2">Home</a></li>
                                  <li><a href="/about-us" class="active">About Us</a></li>
                                  <li>
                                      <a href="/#">Services</a>
                                      <div class="main__dropdown-menu">
                                          <ul>
                                              <li><a href="/healthcare-staffing-services">Healthcare Staffing Services</a></li>
                                              <li><a href="/home-care-service">Home Care Service</a></li>
                                          </ul>
                                      </div>
                                  </li>
                                  <li><a href="/working-for-us">Working for Us</a></li> 
                                  <li><a href="/contact-us">Contact Us</a></li>
                                  <!-- <li><a href="https://20x.io/Nidaysseedservices/signin/ek5IWVBTWll3bldiSUJDV0dNdzFXZz09" target="_blank">Login</a></li>  -->
                                  <li><a href="ssshttps://20x.io/Nidaysseedservices/commonuser_register/ek5IWVBTWll3bldiSUJDV0dNdzFXZz09" target="_blank">Apply Online</a></li>
                              </ul>
                          </nav><!-- end menu__wrapper -->
                          <div class="logo-right-button">
                              <div class="contact-para">
                                  <ul class="social__links">
                                      <li><a href="https://twitter.com/Nidaysseed_services" target="_blank"><i class="fab fa-twitter"></i></a></li>
                                      <li><a href="https://www.facebook.com/Nidaysseedhealthcareservices" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                  </ul>
                              </div><!-- end contact-para -->
                          </div><!-- end logo-right-button -->
                      </div><!-- end main-menu -->

                      <a href="tel:202-695-5090" class="call-bttn">
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone-fill" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"></path>
                          </svg>
                          202-695-5090
                      </a>
                  </div><!-- end menu-full-width -->
              </div><!-- end col-log-12 -->
          </div><!-- end row -->
      </div><!-- end container -->
  </div><!-- end top-menu-area -->
</section>