<!DOCTYPE html>
<html lang="en">

<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
    <meta charset="UTF-8">
    <!-- viewport meta -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Nidaysseed Healthcare Services - Care With Love">
    <meta name="keywords" content="healthcare, caregiver, healthcare staffing, home care">
    <title>Working for Us - Nidaysseed Healthcare Services</title>

    <!-- Favicon Icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    ``
    
    <!-- inject:css -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="css/fontello.css">
    <link rel="stylesheet" type="text/css" href="css/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" type="text/css" href="css/magnificpopup.css">
    <link rel="stylesheet" type="text/css" href="css/style4522.css?v=784593">
    <!-- endinject -->
  	<style>
      .timesheet-button {
        color: #ffffff;
        border-color: #5e0ea9;
        background-color: #5e0ea9;
        font-family: inherit;
        padding: 0 36px;
        height: 56px;
        line-height: 56px;
        min-width: 180px;
        border-width: 0;
        position: relative;
        display: inline-block;
        text-align: center;
        white-space: nowrap;
        border-style: solid;
        cursor: pointer;
        border-radius: 5px;
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 80px;
        letter-spacing: 0em;
        transition:.3s ease;
      }
      .timesheet-button:hover {
        color:#fff;
        background-color: #4b2b66;
      }
    </style>
	</style>
</head>
<body>
<!-- page preloader -->
<div id="loading-area">
    <div class="three col">
        <div class="loader" id="loader-1"></div>
    </div>
</div><!-- end loading -->

<div class="body-overlay"></div><!-- end body-overlay -->

<div class="offcanvas-menu">
    <div class="menu__close"></div><!-- end menu__close -->
    <ul class="off__menu"> 
        <li><a href="/index-2">Home </a></li>  
        <li><a href="/about-us">About Us</a></li>
        <li><a href="/healthcare-staffing-services">Healthcare Staffing Services</a></li> 
        <li><a href="/home-care-service">Home Care Service</a></li>
        <li><a href="/working-for-us">Working for Us</a></li> 
        <li><a href="/contact-us">Contact Us</a></li>
        <!-- <li><a href="https://20x.io/Nidaysseedservices/signin/ek5IWVBTWll3bldiSUJDV0dNdzFXZz09" target="_blank">Login</a></li> -->
        <li><a href="ssssshttps://20x.io/Nidaysseedservices/commonuser_register/ek5IWVBTWll3bldiSUJDV0dNdzFXZz09" target="_blank">Apply Online</a></li>
        <li><a href="tel:2026955090">Call Us: 202-695-5090</a></li>
        <li>
            <a href="https://twitter.com/Nidaysseed_services" target="_blank" style="margin-right:10px;width:30px;"><i class="fab fa-twitter"></i></a>
            <a href="https://www.facebook.com/Nidaysseedhealthcareservices" target="_blank" style="width:30px;"><i class="fab fa-facebook-f"></i></a>
        </li>
    </ul>
</div><!-- end offcanvas-menu -->

<!-- ================================
        START MENU AREA
================================= -->
<section class="menu-area menu-area-3">
    <div class="top-menu-area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 menu-full-box theme-bg-light no-padding-lr">
                    <div class="menu-full-width clearfix">
                        <div class="logo-box">
                            <div class="site-open">
                                <span class="open__only"></span>
                                <span class="open__only"></span>
                                <span class="open__only"></span>
                            </div><!-- end site-open -->
                            <div class="logo">
                                <a href="/index-2" title="Nidaysseed Healthcare Services">
                                    <img src="images/logoebf6.png?v=333" alt="Nidaysseed logo">
                                </a>
                            </div><!-- end logo -->
                        </div><!-- end logo-box -->
                        <div class="main-menu">
                            <nav class="menu__wrapper">
                                <ul class="dropdown-main">
                                    <li><a href="/index-2">Home</a></li>
                                    <li><a href="/about-us">About Us</a></li>
                                    <li>
                                        <a href="/#">Services</a>
                                        <div class="main__dropdown-menu">
                                            <ul>
                                                <li><a href="/healthcare-staffing-services">Healthcare Staffing Services</a></li>
                                                <li><a href="/home-care-service">Home Care Service</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li><a href="/working-for-us" class="active">Working for Us</a></li> 
                                    <li><a href="/contact-us">Contact Us</a></li>
                                    <!-- <li><a href="https://20x.io/Nidaysseedservices/signin/ek5IWVBTWll3bldiSUJDV0dNdzFXZz09" target="_blank">Login</a></li>  -->
                                    <li><a href="ssshttps://20x.io/Nidaysseedservices/commonuser_register/ek5IWVBTWll3bldiSUJDV0dNdzFXZz09" target="_blank">Apply Online</a></li>
                                </ul>
                            </nav><!-- end menu__wrapper -->
                            <div class="logo-right-button">
                                <div class="contact-para">
                                    <ul class="social__links">
                                        <li><a href="https://twitter.com/Nidaysseed_services" target="_blank"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="https://www.facebook.com/Nidaysseedhealthcareservices" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                    </ul>
                                </div><!-- end contact-para -->
                            </div><!-- end logo-right-button -->
                        </div><!-- end main-menu -->

                        <a href="tel:2026955090" class="call-bttn">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone-fill" viewBox="0 0 16 16">
                              <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
                            </svg>
                            202-695-5090
                        </a>
                    </div><!-- end menu-full-width -->
                </div><!-- end col-log-12 -->
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end top-menu-area -->
</section><!-- end menu-area -->
<!-- ================================
            END MENU AREA
================================= -->

<!--================================
          START BANNER AREA
=================================-->
<section class="trusted-area breadcrumb-area text-center">
    <div class="trusted-fluid">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="trusted-content">
                        <div class="trusted__title"> 
                            <h2 class="trusted__title-title">Working for Us</h2>
                        </div><!-- end trusted__title -->
                    </div><!-- end trusted-content -->
                </div><!-- end col-md-12 -->
            </div><!-- end row -->
        </div><!-- container -->
    </div><!-- end trusted-fluid -->
</section><!-- end trusted-area -->
<!--================================
           END BANNER AREA
=================================-->

<!--================================
          START CHOOSE AREA
=================================-->
<section class="choose-area responsive-content choose--area avivon-pt text-center">
    <div class="choose-fluid">
        <div class="container">
            <div class="row">
                <div class="col-md-12 choose-box">
                    <div class="choose-popup">
                        <img src="images/working-for-us.jpg" alt="working-for-us">

                        <br><br><br>

                        <div class="avivon-heading"> 
                            <h2 class="avivon__title fourth__title">
                                What range of services does Nidaysseed Services provide?                            </h2>
                        </div>

                        <p class="offer__desc mt-25px mb-50px">
                            Nidaysseed Services specializes in delivering comprehensive staffing solutions tailored for residential and nursing homes, private hospitals, mental health facilities, and supported living environments.                        </p> 
						<!-- <a class="timesheet-button" href="Nidaysseed-files/Brochure.pdf">Download Brouchure</a> -->
                        <br> 
                    </div><!-- end choose-popup -->
                </div><!-- end col-md-12 -->
            </div><!-- end row -->
        </div><!-- container -->
    </div><!-- end choose-fluid -->
</section><!-- end choose-area -->
<!--================================
           END CHOOSE AREA
=================================-->

<section class="blog-area responsive-content area-padding text-center" style="border-top: 1px solid #ddd;">
    <div class="blog-fluid">
        <div class="container">

            <div class="avivon-heading mb-50px">
                <h2 class="avivon__title fourth__title">To Our Staffs?</h2>

                <br><br>

                <p class="avivon__desc">At Nidaysseed Services, our clients are at the heart of what we do. To enable us to fulfil our promise to deliver the highest quality of care, we need to invest in our future and that means we need people like you to join our team. Nidaysseed Services supplies specialist healthcare professionals to residential homes, nursing homes and hospitals. We recruit experienced, dedicated and compassionate Nurses (RGN), Healthcare Assistants, Support Workers and Domestic workers to deliver outstanding care and support to our clients. Do you have the passion, do you think you can make a difference, Please call us on <a href="tel:442026955090">+1 202-695-5090</a>, <a href="tel:2026955090">202-695-5090</a> or <a href="https://20x.io/Nidaysseedservices/commonuser_register/ek5IWVBTWll3bldiSUJDV0dNdzFXZz09" target="_blank">Click Here to Register</a></p> 

            </div><!-- end avivon-heading -->

            <div class="row">
                <div class="col-md-12 primary-padding-2 text-center">
                    <div class="avivon-heading" style="max-width:700px;margin:0 auto 40px;"> 
                        <h2 class="avivon__title fourth__title">
                            Key Advantages of Partnering with Nidaysseed Services                        </h2>
                    </div>
                </div><!-- end col-md-12 -->
            </div><!-- end row -->

            <div class="row service-box blog-box blog--box text-left wscu-sec">
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="shared-service mission-service">
                        <div class="shared__img">
                            <img src="images/pic-1.jpg" alt="blog image">
                        </div><!-- end shared-__img -->
                        <div class="shared-content">
                            <div class="service__title mb-30px">
                                <h3 class="service__title-title">
                                    Pay & Benefits
                                </h3>
                            </div><!-- end service__title -->
                            <div class="service__desc">
                                <div class="avivon-heading"> 
                                    <ul class="avivon__list mission__list mt-50px mb-40px">
                                        <li class="mb-20px">
                                            <i class="fas fa-check-circle"></i>
                                            <h4>Competitive Compensation</h4>
                                                Our team members enjoy highly competitive rates for both day and night shifts.

                                        </li> 
                                        <li class="mb-20px">
                                            <i class="fas fa-check-circle"></i>
                                            <h4>Regular Weekly Payments</h4>
                                            Our policy of weekly payments helps our team effectively plan and manage their finances.
                                            
                                        </li> 
                                        <li>
                                            <i class="fas fa-check-circle"></i>
                                            <h4>Referral Bonus Program</h4>
                                            Receive up to $100.00 as a bonus for referring a friend. Details available in the <a href="Timesheet/Refer-a-Friend-Ts-and-Cs.pdf">terms and conditions</a>.

                                        </li>  
                                    </ul> 
                                </div>
                            </div><!-- end service__desc -->
                        </div><!-- end shared-content -->
                    </div><!-- end shared-service -->
                </div><!-- end col-md-4 -->

                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="shared-service mission-service">
                        <div class="shared__img">
                            <img src="images/pic-2.jpg" alt="blog image">
                        </div><!-- end shared-__img -->
                        <div class="shared-content">
                            <div class="service__title mb-30px">
                                <h3 class="service__title-title">
                                    Flexibility
                                </h3>
                            </div><!-- end service__title -->
                            <div class="service__desc">
                                <div class="avivon-heading"> 
                                    <ul class="avivon__list mission__list mt-50px mb-40px">
                                        <li class="mb-20px">
                                            <i class="fas fa-check-circle"></i>
                                            <h4>Flexible Scheduling</h4>
                                                Our team members have the flexibility to choose their own shifts.

                                        </li> 
                                        <li class="mb-20px">
                                            <i class="fas fa-check-circle"></i>
                                            <h4>Diverse Work Locations</h4>
                                                Our staff benefit from a wide selection of work environments across various locations.

                                        </li> 
                                        <li>
                                            <i class="fas fa-check-circle"></i>
                                            <h4>Versatile Work Environments</h4>
                                            Our team enjoys the opportunity to work in both public and private
                                            
                                        </li>  
                                    </ul> 
                                </div>
                            </div><!-- end service__desc -->
                        </div><!-- end shared-content -->
                    </div><!-- end shared-service -->
                </div><!-- end col-md-4 -->

                <div class="col-md-4 col-sm-6 col-xs-12 col-lg-offset-0 col-md-offset-0 col-sm-offset-3 col-xs-offset-0">
                    <div class="shared-service rpl-content mission-service">
                        <div class="shared__img">
                            <img src="images/pic-3.jpg" alt="blog image">
                        </div><!-- end shared-__img -->
                        <div class="shared-content">
                            <div class="service__title mb-30px">
                                <h3 class="service__title-title">
                                    Career Development
                                </h3>
                            </div><!-- end service__title -->
                            <div class="service__desc"> 
                                <div class="avivon-heading"> 
                                    <ul class="avivon__list mission__list mt-50px mb-40px">
                                        <li class="mb-20px">
                                            <i class="fas fa-check-circle"></i>
                                            <h4>Support for Re-validation</h4>
                                                Our team receives comprehensive assistance with the re-validation process and certificate renewals.

                                        </li> 
                                        <li class="mb-20px">
                                            <i class="fas fa-check-circle"></i>
                                            <h4>Guidance for Career Growth</h4>
                                            We offer structured guidance and support for career advancement and professional development.
                                            
                                        </li> 
                                        <li>
                                            <i class="fas fa-check-circle"></i>
                                            <h4>Personal Tax Assistance</h4>
                                            Our in-house accounting team offers personalized tax advice for self-employed individuals.
                                            
                                        </li>  
                                    </ul> 
                                </div>
                            </div><!-- end service__desc -->
                        </div><!-- end shared-content -->
                    </div><!-- end shared-service -->
                </div><!-- end col-md-4 -->

            </div><!-- end row -->

        </div><!-- container -->
    </div><!-- end blog-fluid -->
</section>


  <!-- appscreenshot start -->
<section class="offer-area responsive-content offer--area theme-bg-gray" style="display: none;">
    <div class="offer-fluid">
        <div class="container-fluid">
            <div class="row offer-content">

              

                <div class="col-md-4 col-sm-4 col-xs-12 offer-list-box">
                    <div class="offer-list">

                        <div class="avivon-heading focus-title mb-40px">
                            <h2 class="avivon__title">Our mobile app enables staff to seamlessly manage their professional life</h2>
                        </div><!-- end avivon-heading -->

                       
                    </div><!-- end offer-list -->
                </div><!-- end col-md-6 -->
                <div class="col-md-8 col-sm-8 col-xs-12 no-padding-lr">
                    <div class="offer-quote wcsc-sec" style="background-image: url(images/Screen.jpg);">
                  </div><!-- end offer-quote -->
                </div>
            </div><!-- end row -->
        </div><!-- container-fluid -->
    </div><!-- end offer-fluid -->
</section><!-- end offer-area -->
  <!-- appscreenshot end -->

  <section class="blog-area responsive-content area-padding text-center" style="border-top: 1px solid #ddd;">
    <div class="blog-fluid">
        <div class="container">

            <div class="avivon-heading">
                <h2 class="avivon__title fourth__title">To Our Clients</h2>

                <br><br>
                <p class="avivon__desc">At Nidaysseed Healthcare, our unwavering commitment is to deliver personalized care solutions swiftly, tailored precisely to each client's unique needs. We pride ourselves on our ability to adjust our offerings to match the specific requirements of our clients, ensuring a comprehensive range of staffing solutions for residential and nursing homes as well as hospitals. Our recruitment process is designed to identify and nurture exceptional Nurses (RGNs), Healthcare Assistants (HCAs), and Support Workers (SWs), all equipped to address diverse care demands. Rigorous pre-employment screenings and strict recruitment protocols are integral to our quality assurance strategy, guaranteeing only the most qualified professionals join our team. Whether the need is for short-term coverage or a longer engagement, such as maternity leave, our flexible staffing services and 24/7 on-call support ensure we're always ready to fulfill your staffing needs, day or night.</p> 

            </div><!-- end avivon-heading -->

        </div><!-- container -->
    </div><!-- end blog-fluid -->
</section>
<!--================================
         START OFFER AREA
=================================-->
<section class="offer-area responsive-content offer--area theme-bg-gray">
    <div class="offer-fluid">
        <div class="container-fluid">
            <div class="row offer-content">

                <div class="col-md-6 col-sm-6 col-xs-12 no-padding-lr">
                    <div class="offer-quote wcsc-sec"></div><!-- end offer-quote -->
                </div><!-- end col-md-6 -->

                <div class="col-md-6 col-sm-6 col-xs-12 offer-list-box">
                    <div class="offer-list">

                        <div class="avivon-heading focus-title mb-40px">
                            <h2 class="avivon__title">Why Clients and Staffs Choose Us</h2>
                        </div><!-- end avivon-heading -->

                        <div class="offer-item">
                            <div class="same-offer">
                                <div class="offer__title" style="padding:0;max-width:500px;">

                                    <div class="avivon-heading focus-title">

                                        <ul class="avivon__list mission__list mb-40px wscu-sec">
                                            <li>
                                                <i class="fas fa-check-circle"></i>
                                                We tailor our services to meet our clients' specific needs.
                                            </li>
                                            <li>
                                                 <i class="fas fa-check-circle"></i>
                                                
                                                Our nurses and carers are subject to comprehensive pre-employment screenings and thorough recruitment and training processes.
                                            </li> 
                                            <li>
                                                 <i class="fas fa-check-circle"></i>
                                               
                                                Our staff are strategically located near our clients for swift deployment and service continuity.
                                            </li> 
                                            <li>
                                                 <i class="fas fa-check-circle"></i>
                                                 We provide continuous training for all staffs.
                                            </li>  
                                            <li>
                                                 <i class="fas fa-check-circle"></i>
                                                 We are dedicated to adhering to Occupational Health & Safety policies.
                                            </li>  
                                            <li>
                                                 <i class="fas fa-check-circle"></i>
                                                 We adhere strictly to the standards and guidelines established by the Care Quality Commission, especially in our recruitment and nurse training procedures.
                                            </li>  
                                            <li>
                                                 <i class="fas fa-check-circle"></i>
                                                 We offer our clients competitive pricing.
                                            </li>  
                                        </ul>

                                    </div>


                                </div><!-- end offer__title -->
                            </div><!-- end same-offer -->
                        </div><!-- end offer-item -->
                    </div><!-- end offer-list -->
                </div><!-- end col-md-6 -->
            </div><!-- end row -->
        </div><!-- container-fluid -->
    </div><!-- end offer-fluid -->
</section><!-- end offer-area -->
  
  
  
  
<!--================================
          END OFFER AREA
=================================-->

<!--================================
          START MEET AREA
 =================================-->
<section class="meet-area start-area padding theme-bg-main">
    <div class="meet-fluid">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="meet-heading">
                        <h2 class="start__title">
                            Call us for help or inquiries now! </h2>
                        <a href="tel:2026955090" class="meet__btn">202-695-5090
                            <span class="fontello icon-angle-double-right"></span>
                        </a>
                    </div><!-- end meet-heading -->
                </div><!-- end col-md-12 -->
            </div><!-- end row -->
        </div><!-- container -->
    </div><!-- end meet-fluid -->
</section><!-- end meet-area -->
 <!--================================
          END MEET AREA
=================================-->



<section class="footer-area responsive-content theme-bg-dark">
    <div class="footer-fluid">
        <div class="container">
            <div class="row footer-list">

                <div class="col-md-5 col-sm-12">
                    <div class="footer-shared rpd-content"> 
                        <div class="footer__title">
                            <h3 class="footer__title-title">About Us</h3>
                        </div><!-- end footer__title -->

                        <div class="ftp__links">
                            <ul> 
                                <li style="padding:0;">
                                    <p class="add__para-desc">
                                        We are Nidaysseed Services, was established by a group of committed individuals, who have been professionally trained in healthcare sector and management with a passion to provide staffing solutions for organisations.
                                    </p>
                                </li>
                            </ul>
                        </div><!-- end ftp__links -->

                        <div class="foo-logos clearfix" style="margin:30px 0;">
                            <img src="images/rec-member2.jpg" height="78" alt="rec logo" style="float:left;margin:0 15px 15px 0;">

                            <img src="images/ico-member.jpg" height="78" alt="ico logo" style="float:left;margin:0 15px 15px 0">
                          <img src="images/dc_badge1.png" height="78" alt="dc logo" style="float:left;margin:0 15px 15px 0">
                          <!-- <img src="images/cqc_Nidaysseed.png" height="78" alt="dc logo" style="float:left;margin:0 15px 15px 0"> -->
                        </div>

                    </div><!-- end footer-shared -->
                </div><!-- end col-md-4 -->

                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="footer-shared rpd-content">
                        <div class="footer__title">
                            <h3 class="footer__title-title">Our Address</h3>
                        </div><!-- end footer__title -->
                        <div class="ftp__links">
                            <ul>
                                <li>
                                    <a href="tel:442026955090">
                                        <i class="fas fa-phone-square"></i> 
                                        +1 202-695-5090
                                    </a>
                                </li>
                                <li>
                                    <a href="mailto: Damilola.nidaysseed@gmail.com">
                                        <i class="fas fa-envelope"></i>
                                         Damilola.nidaysseed@gmail.com
                                    </a>
                                </li>
                                <li>
                                    <p class="add__para-desc">
                                        <i class="fas fa-map"></i> 
                                        18303 BARNEY DRIVE ACCOKEEK MARYLAND 20607                                    </p>
                                </li>
                            </ul>
                        </div><!-- end ftp__links -->
                    </div><!-- end footer-shared -->
                </div><!-- end col-md-4 -->

                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="footer-shared">
                        <div class="footer__title">
                            <h3 class="footer__title-title">Navigation</h3>
                        </div><!-- end footer__title -->
                        <div class="ftp__links menu__links clearfix">
                            <ul class="ftp__menu-links pull-left">
                                <li><a href="/index-2">Home</a></li> 
                                <li><a href="/about-us">About Us</a></li> 
                                <li><a href="/healthcare-staffing-services">Healthcare Staffing Services</a></li> 
                                <li><a href="/home-care-service">Home Care Service</a></li>
                                <li><a href="/working-for-us">Working for Us</a></li>
                                <!-- <li><a href="/testimonials">Testimonials</a></li> -->
                                <li><a href="/contact-us">Contact Us</a></li>
                            </ul>
                        </div><!-- end ftp__links -->
                    </div><!-- end footer-shared -->
                </div><!-- end col-md-4 -->
                 
            </div><!-- end row -->

            <div class="row">
                <div class="col-md-12">
                    <div class="copyright-shared">
                        <div class="col-md-8 no-padding-lr">
                            <p class="copy__desc">&copy; Copyright 2024 Nidaysseed Healthcare Services </p>
                        </div><!-- end col-md-8 -->
                        <div class="col-md-4 text-right no-padding-lr"> 
                            <p class="copy__desc">
                                <a href="http://executiveconsults.com/" target="_blank">Powered </a> by Executive Consults
                            </p>
                        </div><!-- end col-md-4 -->
                    </div><!-- end copyright-shared -->
                </div><!-- end col-md-12 -->
            </div><!-- end row -->
        </div><!-- container -->
    </div><!-- end footer-fluid -->
</section><!-- end footer-area --> 
<!-- start scroll top --->
<div id="scroll-top">
    <i class="fas fa-arrow-up" title="Go top"></i>
</div>
<!-- end scroll top -->

<script src="js/jquery.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/magnificpopup.js"></script>
<script src="js/main.js"></script>

</body>

</html>